name: Pulsex Firebase Deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Firebase CLI
        run: npm install -g firebase-tools jq

      - name: Write Firebase key from secret
        run: |
          mkdir -p $HOME/.firebase
          echo "${{ secrets.FIREBASE_SERVICE_ACCOUNT }}" > $HOME/.firebase/firebase-key.json
          jq .project_id $HOME/.firebase/firebase-key.json

      - name: Deploy to Firebase Hosting
        env:
          GOOGLE_APPLICATION_CREDENTIALS: $HOME/.firebase/firebase-key.json
        run: firebase deploy --only hosting --project pulse-f5547
